<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type">
<script src="{$basepath}/resource/js/jquery2.1.3.js"></script>
<link href="{$basepath}/resource/css/common.css" type="text/css" rel="stylesheet"/>
<script src="{$basepath}/resource/js/common.js"></script>
</head>
<body>
	<form action="{$fromurl}" method="post">
		<div><label>username</label><input name="username"></div>
		<div><label>password</label><input name="password"></div>
		<div>
			<input type="submit" value="submit">
		</div>
	</form>
</body>
</html>